<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
<title>Seite nicht gefunden &#8211; Freifunk Partenheim</title>








<!-- Twitter Cards -->
<meta name="twitter:title" content="Seite nicht gefunden">

<meta name="twitter:site" content="@freifunkmainz">
<meta name="twitter:creator" content="@freifunkmainz">

<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="http://whallmann.github.io/freifunkpartenheim.github.io/images/favicon-196x196.png">

<!-- Open Graph -->
<meta property="og:locale" content="de_DE">
<meta property="og:type" content="article">
<meta property="og:title" content="Seite nicht gefunden">

<meta property="og:url" content="http://whallmann.github.io/freifunkpartenheim.github.io/404.html">
<meta property="og:site_name" content="Freifunk Partenheim">

<!-- Webmaster Tools verfication -->





<link rel="canonical" href="http://whallmann.github.io/freifunkpartenheim.github.io/404.html">

<link href="http://whallmann.github.io/freifunkpartenheim.github.io/feed.xml" type="application/atom+xml" rel="alternate" title="Freifunk Partenheim Feed">

<!-- https://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="http://whallmann.github.io/freifunkpartenheim.github.io/assets/css/main.css">


<meta http-equiv="cleartype" content="on">

<!-- Address bar color -->
<meta name="theme-color" content="#DC0067">
<meta name="msapplication-navbutton-color" content="#DC0067">
<meta name="apple-mobile-web-app-status-bar-style" content="#DC0067">

<!-- apple-touch-icons -->
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="http://whallmann.github.io/freifunkpartenheim.github.io/images/apple-touch-icon-precomposed.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://whallmann.github.io/freifunkpartenheim.github.io/images/apple-touch-icon-72x72-precomposed.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://whallmann.github.io/freifunkpartenheim.github.io/images/apple-touch-icon-114x114-precomposed.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://whallmann.github.io/freifunkpartenheim.github.io/images/apple-touch-icon-144x144-precomposed.png">

<!-- favicons -->
<link rel="shortcut icon" href="http://whallmann.github.io/freifunkpartenheim.github.io/images/favicon.ico">
<link rel="shortcut icon" href="http://whallmann.github.io/freifunkpartenheim.github.io/images/favicon.png">
<link rel="icon" type="image/png" href="http://whallmann.github.io/freifunkpartenheim.github.io/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="http://whallmann.github.io/freifunkpartenheim.github.io/images/favicon-128x128.png" sizes="128x128" />
<link rel="icon" type="image/png" href="http://whallmann.github.io/freifunkpartenheim.github.io/images/favicon-196x196.png" sizes="196x196" />

<!-- msapplication -->
<meta name="application-name" content="Seite nicht gefunden &#8211; Freifunk Partenheim"/>
<meta name="msapplication-TileColor" content="#DC0067" />
<meta name="msapplication-TileImage" content="http://whallmann.github.io/freifunkpartenheim.github.io/images/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="http://whallmann.github.io/freifunkpartenheim.github.io/images/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="http://whallmann.github.io/freifunkpartenheim.github.io/images/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="http://whallmann.github.io/freifunkpartenheim.github.io/images/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="http://whallmann.github.io/freifunkpartenheim.github.io/images/mstile-310x310.png" />

    </head>

    <body id="page">

        <div class="navigation-wrapper">
	<nav role="navigation" id="site-nav">
	    <ul>
      		
			    
			    <li><a href="http://whallmann.github.io/freifunkpartenheim.github.io/" >Home</a></li>
		  	
			    
			    <li><a href="http://whallmann.github.io/freifunkpartenheim.github.io/blog/" >Blog</a></li>
		  	
			    
			    <li><a href="http://whallmann.github.io/freifunkpartenheim.github.io/termine/" >Termine</a></li>
		  	
			    
			    <li><a href="http://whallmann.github.io/freifunkpartenheim.github.io/mitmachen/" >Mitmachen</a></li>
		  	
			    
			    <li><a href="http://whallmann.github.io/freifunkpartenheim.github.io/anleitung/" >Installation</a></li>
		  	
			    
			    <li><a href="http://whallmann.github.io/freifunkpartenheim.github.io/status/" >Netzstatus</a></li>
		  	
			    
			    <li><a href="http://whallmann.github.io/freifunkpartenheim.github.io/sicherheit/" >Sicherheit</a></li>
		  	
			    
			    <li><a href="http://whallmann.github.io/freifunkpartenheim.github.io/faq/" >FAQ</a></li>
		  	
			    
			    <li><a href="http://whallmann.github.io/freifunkpartenheim.github.io/suche/" >Suche</a></li>
		  	
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Dein Browser ist zu alt!</strong> Warum nicht eine neue Version verwenden?</a></div><![endif]-->



	<header class="masthead">
		<div class="wrap">
      		
  				<a href="http://whallmann.github.io/freifunkpartenheim.github.io/" class="site-logo" rel="home" title="Freifunk Partenheim">
					<img src="http://whallmann.github.io/freifunkpartenheim.github.io/images/favicon-196x196.png" width="200" height="200" alt="Freifunk Partenheim logo" class="animated fadeInDown">
				</a>
      		

			<h1 class="site-title animated fadeIn">
				<a href="http://whallmann.github.io/freifunkpartenheim.github.io/">Freifunk Partenheim</a>
			</h1>

			<h2 class="site-description animated fadeIn" itemprop="description">Freifunk. Verbindet. Menschen.</h2>
		</div>
	</header><!-- /.masthead -->


<div class="js-menu-screen menu-screen"></div>


        <div id="main" role="main">
            <article class="entry">

                

                <div class="entry-wrapper">
                    <header class="entry-header">
                        <h1 class="entry-title">Seite nicht gefunden</h1>
                    </header>

                    <div class="entry-content">
                        <p>404 - Die gesuchte Seite ist nicht vorhanden.</p>

                    </div>
                </div>

            </article>
        </div>

        <div class="footer-wrapper">
          <footer role="contentinfo" class="entry-wrapper">
            

<span>&copy; 2016 Freifunk Partenheim. <br>Die Inhalte stehen unter der <a href ="https://creativecommons.org/publicdomain/zero/1.0/">CC-0 Lizenz</a><br>Fremdinhalte können unter einer anderen Lizenz stehen und sind entsprechend gekennzeichnet</span>
<div class="social-icons">
	<a href="https://twitter.com/freifunkmainz" title="Freifunk Partenheim auf Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="https://facebook.com/FreifunkMainz" title="Freifunk Partenheim auf Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
	<a href="https://github.com/Freifunkpartenheim" title="Freifunk Partenheim auf Github" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
  <a href="http://whallmann.github.io/freifunkpartenheim.github.io/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss-square fa-2x"></i></a>
</div><!-- /.social-icons -->

<a href="/impressum">Impressum</a> - <a href="/datenschutz">Datenschutz</a>

          </footer>
        </div>

        <script type="text/javascript">
  var BASE_URL = 'http://whallmann.github.io/freifunkpartenheim.github.io';
</script>

<script src="http://whallmann.github.io/freifunkpartenheim.github.io/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="http://whallmann.github.io/freifunkpartenheim.github.io/assets/js/scripts.min.js"></script>


<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
  <script src="http://whallmann.github.io/freifunkpartenheim.github.io/assets/js/vendor/html5shiv.min.js"></script>
  <script src="http://whallmann.github.io/freifunkpartenheim.github.io/assets/js/vendor/respond.min.js"></script>
<![endif]-->


<!-- Modernizr -->
<script src="http://whallmann.github.io/freifunkpartenheim.github.io/assets/js/vendor/modernizr-2.7.1.custom.min.js"></script>



    </body>
</html>

